# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Docker
*.tar
# Private keys
*.pem

*.tfplan
terraform/tfplan
